* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* header was originally a class. Changed it to a header tag and kept the styles for the container.*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo{
    color: #d9dcd6;
}

/* took out the unnecessary div tag as it did not serve a purpose. */
header ul {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* Took out the div tag and class attribute and replaced it with a figure tag.  */
figure {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* took the benefits class and div tag and replaced it with an aside tag. */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* took out the individual class tags for each section and just used the parent tag to give style attributes as it was very reptitive giving the same attributes to differnet classes.*/
aside section{
    margin-bottom: 32px;
    color: #ffffff;
}

aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* changed from a div tag to an article tag and took out the class attributes and gave the CSS stylings to the parent container. */
article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* replaced the class tags with the parent container as they were being given the same style attributes. */
article img {
    max-height: 200px;
}

article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* changed from a div tag with a class attribute of footer, to just giving it a footer tag and giving the styling to the new tag. */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
